<!DOCTYPE html>
<html>
<head>
<title>Enroll</title>
<script src="/static/js/enroll.js"></script>
</head>
<body>
<h2>Enroll New Face</h2>

<input id="name" placeholder="Enter Name">
<input id="pin" placeholder="Admin PIN" type="password">

<br><br>

<video id="cam" autoplay style="width:300px;"></video>
<canvas id="canvas" style="display:none"></canvas>

<button onclick="captureEnroll()">Enroll (Camera)</button>

<!-- ✅ ADD THIS -->
<div id="thumbs" class="thumbs"></div>

<div id="msg"></div>
</body>
</html>
